RewriteEngine on

#RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !=/var/www/html/474/bowling/api/index.php
RewriteCond %{SCRIPT_FILENAME} !api/index.php
RewriteRule (.+) index.php/$1 [NC,L]

